@model IEnumerable<JobDirectoryWeb.Models.DTO.JobDirectoryDTO>
<br />
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Job Directories List</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-controller="JobDirectory" asp-action="CreateJobDirectory" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i> Create New Job Directory</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Skill Sets</th>
                <th>Hobby</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>@item.Email</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.SkillSets</td>
                    <td>@item.Hobby</td>
                    <td>
                        <a asp-controller="JobDirectory" asp-action="UpdateJobDirectory" asp-route-id="@item.Id" class="btn btn-success"><i class="bi bi-pencil-square"></i></a>
                        <a asp-controller="JobDirectory" asp-action="DeleteJobDirectory" asp-route-id="@item.Id" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

